body{
    background: url("../images/email-pattern.png");
}
.container{
    margin-top: 3em;
    background-color: #E6EBE0;
    padding: 15px;
}
button{
  margin-top: 2px;
}
.giphs{
    height: auto;
    width: auto;
    margin: 3px;
    position: relative;
    float: left;
}
#links{
    height: 32px;
    width: auto;
}
img{
    margin: 2px;
}
